{% extends 'base.html.twig' %}

{% block body %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>

    </tr>
    </thead>
    <tbody>
    {% for genre in genres %}
       <tr>
        <td >{{ genre.name }}</td>
                        <td><a style="color: white" href="{{ path('edit_genre', {'id': genre.id}) }}" class="btn purple-gradient btn-rounded my-0">Edit</a></td>
    <td ><a href="{{ path('genre_delete', {'id': genre.id}) }}" class="btn btn-danger btn-rounder my-0">Delete</a></td>
       </tr>

    {% endfor %}
    </tbody>
</table>
{% endblock %}
