{% extends 'base.html.twig' %}

{% block body %}
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Payment Method</th>
        <th scope="col">Enable/Disable</th>



    </tr>
    </thead>
    <tbody>
    {% for paymentMethod in paymentMethods %}
      <tr>
       <td>{{ paymentMethod.method }}</td>
        {% if paymentMethod.active %}
                            <td><a href="{{ path('disable_payment', {'id' : paymentMethod.id}) }}" class="btn btn-danger">Disable</a></td>
                        {% else %}
                           <td> <br/><a href="{{ path('enable_payment', {'id' : paymentMethod.id}) }}" class="btn btn-secondary">Enable</a></td>
                        {% endif %}
      </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
