{% extends 'base.html.twig' %}

{% block body %}
    <h3>My Borrowed Books</h3>
    <p>Late fee is 0.50 EUR per book per day.</p>
    {% for book in books %}
        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
        {% for borrowedBook in book.borrowedBooks %}

                            <h6 class="card-subtitle mt-2 text-muted">{{ borrowedBook.book.author }}</h6>
                            <h6 class="card-text">{{ borrowedBook.book.name }}</h6>




        {% endfor %}





                        {%  if book.paymentMethod != "PayPal" and paymentMethods[0].active and lateFee[book.id] != 0.00%}
                        <h6 class="card-text">Late Fee:</h6>
                            {{ lateFee[book.id] }} EUR<br>
                        <a href="{{ path('pay',{'id': book.id}) }}" class="btn btn-primary ">Pay</a>
                            {% elseif paymentMethods[0].active == false %}
                                <h6>PayPal payment currently disabled</h6>
                                {% else %}
                            <h6>No late fee.</h6>
                       {% endif %}
                    </div>
                </div>
            </div>
        </div>


    {% endfor %}
{% endblock %}
