{% extends 'base.html.twig' %}

{% block body %}
    <h3>My Borrowed Books</h3>
    {% for book in books %}
        <div class="row mt-3">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-subtitle mt-2 text-muted">{{ book.author }}</h6>
                        <h6 class="card-text">{{ book.name }}</h6>
                        <h6 class="card-text">Genres:
                            {% for genre in book.bookGenre %}

                                <h6 class="card-text">{{ genre.genre.name }}  </h6>

                            {% endfor %}
                        </h6>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
