{% extends 'base.html.twig' %}

{% block title %}Reservations{% endblock %}

{% block body %}


    <h3>My Reservations</h3>
    {% for reservation in reservations %}
        {% if reservation.book != null %}
        <div class="row mt-3">
            <div class="col-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h6 class="card-title">{{ reservation.book.author }}</h6>
                        <h6 class="card-text">{{ reservation.book.name }}</h6>
                        <a href="{{ path('cancel_reservation', {'reservation' : reservation.id, 'book' : reservation.book.id}) }}"
                           class="btn btn-secondary">Remove</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
        {% endif %}
    {% endfor %}

{% endblock %}