{% extends 'base.html.twig' %}

{% block body %}
    <table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">User</th>
        <th scope="col">Membership</th>
        <th scope="col">Details</th>

    </tr>
    </thead>
    <tbody>



    {% for user in users %}
        <tr>

            <td>{{ user.firstName }} {{ user.lastName }}</td>
            <td>{% if user.membership == false %}
                    NOT PAID
                {% else %}
                    OK
                {% endif %}</td>
            <td><a href="{{ path('employee_view', {'id': user.id}) }}" class="btn btn-primary">Details</a></td>
        </tr>

    {% endfor %}
    </tbody>
{% endblock %}